*{box-sizing:border-box}
img{width:100%; display:block;}

/* productlist.js*/
.producttitle{
    text-align: center;
    color:darkgreen;
}

.cardcontainer{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.card{
    border:solid 2px gray 1px;
    width:200px;
    margin:2rem;
    padding:1rem;
    border-radius:5px;
}
.productname{
    text-align:center;
    font-weight:bolder;

}
.productname span{
    color:crimson;
    font-size:1.5rem;
    margin-left:0.2rem;
}
.btn_addcart{
    width:100%;
    border:none;
    color:white;
    background-color: darkgreen;
    border-radius:3px;
    padding:0.5rem;
    transition:transform 0.2s ease;
}
.btn_addcart:hover{
    cursor:pointer;
    background-color:crimson;
    box-shadow: 0px 0px 2px 1px gray;

}
.carttitle{
    color:darkgreen;
    text-align:center;
}

.cartcontainer{
    width:1000px;
    margin:2rem auto;
    border:solid 1px gray;
    padding:1.5rem;
}
.emptymsg{
    font-size:1.5rem;
    font-weight:bolder;
    color:gray;
}
.itemcart{
    display:flex;
    margin-bottom:1.5rem;
    font-size: 1.3rem;
}
.cartitemimg{
    width:10%;
    padding:0.5rem;
}
.cartitemname{
    padding-left: 2rem;

}
.cartitemprice, .cartitemtotal, .cartitemquantity{
    width:20%;
    padding:0.5rem;
}

.btncartremove{
    color:crimson;
    background-color:white;
    cursor:pointer;
    border:none;
}
.btncartremove:hover{
    font-weight:bolder;
    text-decoration:underline;
}
.totalcart{
    border-top:solid gray 1px;
    font-size:1.5rem;
    padding:1rem 0rem;
    font-weight:bolder;
    text-align:right;
}