body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fadc9a;
}
/*Title For Header*/
.store-header {
  width: 100%;
  padding: 20px 0;
  background: #a59be0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  margin-bottom: 30px;
}

.store-header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}


/*  Product Grid  */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  justify-content: center;
}

/*  Card  */
.card {
  width: 260px;
  background: rgb(174, 238, 247);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.16);
}

/*  Card Image  */
.card img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin-bottom: 12px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/*  Price  */
.card-price {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
}

/* Available */
.instock {
  background: #e7ffe7;
  border: 1px solid #00a000;
  color: #007000;
  padding: 6px 12px;
  border-radius: 10px;
  font-weight: bold;
}

.outstock {
  background: #ffe7e7;
  border: 1px solid #d00000;
  color: #a00000;
  padding: 6px 12px;
  border-radius: 10px;
  font-weight: bold;
}
