*{box-sizing: border-box;}
img{
  width: 100%; 
  display: block;}

  .card{
    padding: 1rem;
  }

  .author{
    display:inline-block;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .metadata, .comment{
    text-align: center;
  }

  .date{
    font-style: italic;
    color:darkblue;
    font-weight: bolder;
  }

  /*app.js */
  .container{
    display:flex;
    justify-content: center;

  }

  /*user_feedback.js*/
.feedbackcard{
  width: 300px;
  border:solid 1px gray;
  border-radius: 5px;
  text-align:cemter;
  overflow:hidden;
}
.cardfooter{
  background-color: gainsboro;
  padding:1rem;
  color:aliceblue;
}
.feedbackcontainer{
  margin:1rem;
  
}
.feedbackcontainer:hover{
  box-shadow:0px 0px 10px 1px gray;
  transform: scale(1.01);
  overflow:hidden;
  border-radius:10px;

}

