h1.title {
  text-align: center;
  background-color: cadetblue;
  padding: 1em;
}

.status {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

button.square {
  text-align: center;
  padding: 1em;
  font-size: 2em;
  margin: 0.25em;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

div.boardcontainer {
  text-align: center;
  margin-top: 2em;
}

.board-row {
  display: flex;
  justify-content: center;
}
