* { box-sizing: border-box; }
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

/* NAVBAR */
.navbar {
  background: rgb(4, 177, 4);
  color: white;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 8rem;
}
.nav-link1 {
    display: flex;
    align-items: left;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}
.nav-link2 {
    display: flex;
    align-items: right;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.nav-link1:hover, .nav-link2:hover {
    color: crimson;
    text-decoration: underline;
}

.nav-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* LAYOUT */
.container {
  padding: 2rem;
}

.page-title {
  text-align: center;
  color: rgb(4, 177, 4);
}

/* PRODUCT GRID */
.product-grid {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.product-card {
  background: white;
  width: 220px;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 5px gray;
}

.product-img {
  width: 100%;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 0.6rem;
  background: rgb(4, 177, 4);
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
}
.btn:hover {
  background: crimson;
}

/* CART ITEMS */
.cart-item {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 0 5px gray;
}

.cart-img {
  width: 80px;
}

.btn-remove {
  background: crimson;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

/* TOTAL */
.cart-total {
  text-align: right;
  font-weight: bold;
  margin-top: 2rem;
}
